* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,body {
    height: 100%;
    width: 100%;    
    position: relative;
    color: var(--text-color);
}

/* code to remove default behavior of all anchor(a) tags */
* a {
    text-decoration: none;
    color: var(--text-color);
}

/*! Code for page 1 */
/* Styling for background video */
.page-1 .background {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    object-fit: cover;
    position: absolute;
    z-index: -5;
}

/* Styling for nav-bar */
.page-1 .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    height: 10vh;
    width: 100vw;
    padding: 0 3.4vw;
}

/* nav-bar options styling */
.nav-bar .options {
    display: flex;
    gap: 2vw;
    padding: .9vw 1vw .7vw 1vw;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);  
}

/* hover effect styling for nav-bar options */
.nav-bar .options a {
    position: relative;
}

.nav-bar .options a::before {
    content: '';
    background: var(--secondary-color);
    position: absolute;
    bottom: 0;
    top: 2;
    height: 2px;
    border-radius: 5px;
    width: 0;
    transition: 0.4s ease-out;
}

.nav-bar .options a:hover {
    color: var(--secondary-color);
}


.nav-bar .options a:hover::before {
    width: 100%;
}

.nav-bar .logo a:hover {
    color: var(--green-color);
    transition: 1s ease-in-out;
}

.nav-bar .buttons {
    display: flex;
    gap: .4rem;
    user-select: none !important;
}

/* Styling for buttons on nav bar */
.button {
    cursor: pointer;
    padding: .3rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);   
}

.button:hover {
    background: rgba(101, 100, 100, 0.2);
    color: rgba(207, 206, 206, 0.66);
}

/* Style to hide menu button from big screen  */
.buttons #menu {
    display: none;
}


/* Style to hide side bar from big screen */
.side-bar {
    display: none;
}

/* styling for text on main section */
.hero-section {
    position: relative;
}

.hero-section .text {
    margin-top: 2.4rem;
    font-size: 140px;
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 2.5px var(--green-color);
}

.hero-section .text::before {
    content: "EAT.DRINK.PLAY";
    position: absolute;
    top: 6px;
    color: var(--text-color);
    -webkit-text-stroke: 2.5px var(--green-color);
    /* z-index: 1; */
}


/* Styling for main part cards */
.wrapper {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: var(--text-color);
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: var(--green-color);
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}


input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../assets/images/image-1.jpg');
}
.card[for="c2"] {
    background-image: url('../assets/images/image-2.jpg');
}
.card[for="c3"] {
    background-image: url('../assets/images/image-3.jpg');
}
.card[for="c4"] {
    background-image: url('../assets/images/image-4.jpg');
}

/*! Code for page second */
.page-2 {
    height: 100vh;
    width: 100vw;
    color: var(--primary-color);
}

.page-2 .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.page-2 .content .description {
    border-left: 2px solid black;
    border-right: none;
    border-radius: 1px;
    padding-left: 1rem;
}

/*! Code for page 3 */
.page-3 {
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    display: flex;
}

.page-3 .content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 1.5rem;
} 

.content .description {
    border-right: 2px solid var(--text-color);
    padding: 1rem;
}

.page-3 .container {
    width: 50%;
}

/* !Code for page 4 */
.page-4 {
    height: 100vh;
    width: 100vw;
    color: var(--primary-color);
}

.page-4 .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.page-4 .content .description {
    border-left: 2px solid black;
    border-right: none;
    border-radius: 1px;
    padding-left: 1rem;
}

/* !Code for page 5 */
.page-5 {
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    display: flex;
}

.page-5 .content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 1.5rem;
} 

.content .description {
    border-right: 2px solid var(--text-color);
    padding: 1rem;
}

.page-5 .container {
    width: 50%;
}

/* code to define height and width of image same for all */
.container {
    margin-top: 1rem;
    display: flex;
}

.container .image {
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    border-radius: 5px;
    object-fit: cover;
    height: 50%;
    width: 50%;
}

.foot {
    height: 20vh;
    width: 100vw;
    background: var(--primary-color);
    display: flex;
}

#main .hr {
    width: 80vw;
    color: green;
}

.foot .social-media {
    height: 100%;
    width: 50%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot .copyright {
    height: 100%;
    width: 50%;
    /* background: magenta; */
    display: flex;
    align-items: center;
    justify-content: center;
}